@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 26, 32, 44;
  --background-end-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    fixed;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 600;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a202c;
}

::-webkit-scrollbar-thumb {
  background: #4a5568;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #48bb78;
}