@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'KronaOne';
    src: url(/fonts/KronaOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DIN-Medium;
    src: url('/fonts/DIN Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



:root {
    --font-DIN-Medium: 'DIN-Medium';
    --font-krona: 'KronaOne'
}

body {
    font-family: var(--font-krona);
    background-color: #383636;
    color: #ffffff;
    padding: 15px;
}

a:hover {
    color: #578834; /* Change to your preferred color */
    transition: color 0.3s ease;
}

.header {
    padding: 0 20px;  
    color: white;   
    justify-content: space-between; 
    align-items: center;
}

.name-container {
    flex: 1;
    text-align: center;
    align-items: center;
    display: block;
}

.about {
    margin-top: 20px;
    margin-left: 10px;
    font-family: var(--font-DIN-Medium);
    font-size: 20px;
}

.githubtitle {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    padding: 25px;
}

.github-link {
    display: flex;
    align-items: center;
    gap: 10px; 
    text-decoration: none;
    color: inherit;
}

.github-heading {
    font-size: 25px; /* Adjust the text size as needed */
    margin: 0; /* Remove default margin */
}

.cardcontent-a {
    display: flex;
    align-items: center;
    gap: 8px;          /* Spacing between the icon and text */
    text-decoration: none;
    color: inherit;
}

.project {
    display: flex;
    margin-left: auto;
    width: 50%;
    justify-content: flex-end;
}


.cardcontent {
    display: inline-block;
    font-family: var(--font-DIN-Medium);
    font-size: 20px;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }